@{
    ViewData["Title"] = "Home Page";
}

<h2>Programlista - Humor</h2>

@foreach (var program in Model.Programs)
{
    <h3>@program.Name @program.Id</h3>

    <ul>

        <li>
            <img src="@program.ProgramImage" alt="Program Image" />
            <p>@program.Description</p>
            
            <h5>Senaste podavsnitten:</h5>
            @foreach (var pod in @program.Podfiles)
            {
               
                <ul>
                   Titel: @pod.Title
                </ul>
                <ul>
                    Publicerat: @pod.PublishDate
                </ul>
                <ul>
                    Längd: @pod.Duration
                </ul>
            }
           
        </li>
    </ul>
}