@{
    ViewData["Title"] = "Home Page";
}

<h1>Programlista - Humor</h1>

@foreach (var program in Model.Programs)
{
    <h2>@program.Channel.Name</h2>
    <div class="program-container">
        <div class="program-info">
            <h3>@program.Name @program.Id</h3>
            <img src="@program.ProgramImage" alt="Program Image" />
            <p>@program.Description</p>
        </div>

        <div class="podfiles">
            <h5>Senaste podavsnitten:</h5>
            @foreach (var pod in @program.Podfiles)
            {
                <div class="podfile">
                    <ul>
                        <li><span>Titel:</span> @pod.Title</li>
                        <li><span>Publicerat:</span> @pod.PublishDate</li>
                        <li><span>Längd:</span> @pod.Duration</li>
                    </ul>
                </div>
            }
        </div>
    </div>
}