@{
    ViewData["Title"] = "Program";
}
@{;
    <div class="program">
        <h2>@Model.Program.Channel.Name</h2>
        <div class="program-info">
            <h3>@Model.Program.Name @Model.Program.Id</h3>
            <img src="@Model.Program.ProgramImage" alt="Program Image" />
            <p>@Model.Program.Description</p>
        </div>

        <div class="podfiles">
            <h5>Senaste poddavsnitten:</h5>
            @foreach (var pod in Model.Program.Podfiles)
            {
                <div class="podfile">
                    <ul>
                        <li><span>Titel:</span> @pod.Title</li>
                        <li><span>Publicerat:</span> @pod.PublishDate</li>
                        <li><span>Längd:</span> @pod.Duration</li>
                        <audio controls>
                            <source src="@pod.Url" type="audio/mp3">
                        </audio>
                        <hr>
                    </ul>
                </div>
            }
        </div>
    </div>
}
